In [1]:
import pandas as pd
import plotly.figure_factory as pf
import numpy as np
import plotly.graph_objects as pg
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.offline as py

In [25]:
district = pd.read_csv('https://api.covid19india.org/csv/latest/district_wise.csv',index_col='SlNo')
state = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise.csv",skiprows=[1])[['State','Confirmed','Recovered','Deaths','Active']]
daily = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise_daily.csv')
district.drop(district.loc[district['State'] == 'State Unassigned'].index,inplace=True)
for i,x in enumerate(district['District']):
	if x == 'Unknown': district['District'].iloc[i] = district['State'].iloc[i]

In [3]:
state

,State,Confirmed,Recovered,Deaths,Active
0,Maharashtra,310455,169569,11854,128730
1,Tamil Nadu,170693,117915,2481,50297
2,Delhi,122793,103134,3628,16031
3,Gujarat,48441,34882,2146,11413
4,Karnataka,63772,23066,1336,39366
5,Uttar Pradesh,49247,29845,1146,18256
6,Telangana,45076,32438,415,12223
7,Andhra Pradesh,49650,22890,642,26118
8,West Bengal,42487,24883,1112,16492
9,Rajasthan,29434,21730,559,7145
10,Haryana,26164,19793,349,6022
11,Bihar,26379,16597,179,9603
12,Madhya Pradesh,22600,15311,721,6568
13,Assam,24000,16024,62,7911
14,Odisha,17437,12453,119,4865
15,Jammu and Kashmir,13899,7811,244,5844
16,Punjab,10100,6535,254,3311
17,Kerala,12481,5370,43,7064
18,Chhattisgarh,5407,3775,24,1608
19,Jharkhand,5552,2718,49,2785
20,Uttarakhand,4515,3116,52,1311
21,Goa,3657,2218,22,1417
22,State Unassigned,0,0,0,0
23,Tripura,2891,1759,5,1113
24,Manipur,1911,1235,0,676
25,Puducherry,1999,1154,28,817
26,Himachal Pradesh,1521,1059,10,437
27,Ladakh,1178,1003,2,173
28,Nagaland,988,445,0,543
29,Chandigarh,717,488,12,217
30,Dadra and Nagar Haveli and Daman and Diu,690,450,2,228
31,Arunachal Pradesh,740,282,3,455
32,Meghalaya,450,49,4,397
33,Mizoram,284,167,0,117
34,Andaman and Nicobar Islands,203,145,0,57
35,Sikkim,296,90,0,193
36,Lakshadweep,0,0,0,0

In [26]:
daily

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,14-Mar-20,Confirmed,81,0,1,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
1,14-Mar-20,Recovered,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
2,14-Mar-20,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,27,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
4,15-Mar-20,Recovered,4,0,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,17-Jul-20,Recovered,17476,0,905,22,551,896,4,61,...,96,656,1,3391,1410,47,959,26,838,0
377,17-Jul-20,Deceased,676,0,42,0,1,6,0,3,...,9,8,0,79,7,0,38,1,26,0
378,18-Jul-20,Confirmed,37407,0,3963,41,1117,1667,31,243,...,350,711,19,4807,1284,171,1873,174,2198,-368
379,18-Jul-20,Recovered,23579,0,1465,99,1060,774,5,146,...,81,518,2,3049,1902,51,1030,60,1286,0
380,18-Jul-20,Deceased,543,0,52,0,2,4,1,0,...,7,7,0,88,6,2,24,1,27,0

In [28]:
daily['Date'] = daily['Date'].apply(lambda x: pd.to_datetime(x))
daily['Date'] = daily['Date'].apply(lambda x: pd.to_timedelta(x))

ValueError: Value must be Timedelta, string, integer, float, timedelta or convertible, not Timestamp

In [6]:
daily

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,2020-03-14,Confirmed,81,0,1,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
1,2020-03-14,Recovered,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
2,2020-03-14,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-15,Confirmed,27,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
4,2020-03-15,Recovered,4,0,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,2020-07-17,Recovered,17476,0,905,22,551,896,4,61,...,96,656,1,3391,1410,47,959,26,838,0
377,2020-07-17,Deceased,676,0,42,0,1,6,0,3,...,9,8,0,79,7,0,38,1,26,0
378,2020-07-18,Confirmed,37407,0,3963,41,1117,1667,31,243,...,350,711,19,4807,1284,171,1873,174,2198,-368
379,2020-07-18,Recovered,23579,0,1465,99,1060,774,5,146,...,81,518,2,3049,1902,51,1030,60,1286,0
380,2020-07-18,Deceased,543,0,52,0,2,4,1,0,...,7,7,0,88,6,2,24,1,27,0

In [7]:
confirmed = daily.loc[daily['Status']=='Confirmed'].reset_index(drop=True)

In [8]:
confirmed

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,2020-03-14,Confirmed,81,0,1,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
1,2020-03-15,Confirmed,27,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
2,2020-03-16,Confirmed,15,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,2020-03-17,Confirmed,11,0,0,0,0,0,0,0,...,0,0,0,0,1,0,2,0,1,0
4,2020-03-18,Confirmed,37,0,0,0,0,0,0,0,...,1,3,0,1,8,0,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2020-07-14,Confirmed,29917,5,1916,75,859,1432,12,114,...,333,635,45,4526,1524,90,1594,78,1390,-179
123,2020-07-15,Confirmed,32607,5,2432,29,1088,1320,19,177,...,288,866,11,4496,1597,98,1659,99,1589,-655
124,2020-07-16,Confirmed,35468,4,2593,52,892,1385,16,198,...,295,737,13,4549,1676,98,2058,197,1690,-239
125,2020-07-17,Confirmed,34820,0,2602,66,1218,1742,25,249,...,348,615,32,4538,1478,118,1722,120,1894,-754
126,2020-07-18,Confirmed,37407,0,3963,41,1117,1667,31,243,...,350,711,19,4807,1284,171,1873,174,2198,-368

In [9]:
recovered = daily.loc[daily['Status']=='Recovered'].reset_index(drop=True)
deaths = daily.loc[daily['Status']=='Deceased'].reset_index(drop=True)

In [10]:
recovered

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,2020-03-14,Recovered,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
1,2020-03-15,Recovered,4,0,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0
2,2020-03-16,Recovered,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2020-03-17,Recovered,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2020-03-18,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2020-07-14,Recovered,20977,20,1003,8,757,655,23,73,...,77,539,-1,4743,1161,63,778,11,718,0
123,2020-07-15,Recovered,20646,1,911,0,715,514,13,49,...,204,333,1,5000,1159,66,762,81,749,0
124,2020-07-16,Recovered,22867,3,1015,0,666,568,17,127,...,410,468,0,5106,1296,33,932,47,735,0
125,2020-07-17,Recovered,17476,0,905,22,551,896,4,61,...,96,656,1,3391,1410,47,959,26,838,0
126,2020-07-18,Recovered,23579,0,1465,99,1060,774,5,146,...,81,518,2,3049,1902,51,1030,60,1286,0

In [11]:
deaths

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,2020-03-14,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-15,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-16,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-17,Deceased,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-18,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2020-07-14,Deceased,587,0,43,0,6,9,2,1,...,9,6,0,67,10,0,28,1,24,0
123,2020-07-15,Deceased,614,0,44,0,2,14,1,0,...,8,6,0,68,11,1,29,0,20,0
124,2020-07-16,Deceased,680,0,40,0,2,10,0,1,...,9,8,0,69,10,0,34,0,23,0
125,2020-07-17,Deceased,676,0,42,0,1,6,0,3,...,9,8,0,79,7,0,38,1,26,0
126,2020-07-18,Deceased,543,0,52,0,2,4,1,0,...,7,7,0,88,6,2,24,1,27,0

In [20]:
from datetime import datetime,timedelta

In [21]:
date = daily['Date'].iloc[-1] - timedelta(days=30)

In [22]:
date

Timestamp('2020-06-18 00:00:00')

In [32]:
confirmed_month = confirmed.loc[(confirmed['Date']>=date) & (confirmed['Date']<=confirmed['Date'].iloc[-1])].reset_index(drop=True)

In [33]:
confirmed_month

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,2020-06-18,Confirmed,13829,1,425,0,209,100,4,82,...,118,315,0,2141,352,21,604,80,435,430
1,2020-06-19,Confirmed,14638,2,465,32,0,250,7,72,...,217,299,0,2115,499,27,809,74,355,224
2,2020-06-20,Confirmed,15918,0,491,0,249,213,23,116,...,120,381,0,2396,546,8,541,124,441,338
3,2020-06-21,Confirmed,15151,1,477,4,332,162,2,121,...,122,393,8,2532,730,35,596,43,414,-138
4,2020-06-22,Confirmed,13560,0,443,9,267,228,5,47,...,161,302,0,2710,872,16,591,58,413,-1295
5,2020-06-23,Confirmed,15656,2,462,10,203,157,7,83,...,162,395,1,2516,879,23,571,133,370,183
6,2020-06-24,Confirmed,16868,6,497,2,226,223,2,34,...,230,382,4,2865,891,0,664,88,445,126
7,2020-06-25,Confirmed,18205,2,553,12,364,215,3,37,...,142,287,2,3509,920,32,636,68,475,352
8,2020-06-26,Confirmed,18255,14,605,2,273,190,2,89,...,188,364,2,3645,985,35,750,34,542,-370
9,2020-06-27,Confirmed,20142,0,796,3,246,302,3,65,...,99,284,0,3713,1087,9,606,66,521,-100
10,2020-06-28,Confirmed,19610,11,813,5,327,244,3,84,...,160,327,1,3940,983,12,598,32,572,-184
11,2020-06-29,Confirmed,18339,7,793,5,302,394,3,101,...,202,389,0,3949,975,34,681,8,624,-554
12,2020-06-30,Confirmed,18256,7,704,4,613,370,6,63,...,150,348,0,3943,945,8,664,50,652,-281
13,2020-07-01,Confirmed,19429,3,657,4,548,216,6,82,...,100,304,1,3882,1018,8,564,66,611,-89
14,2020-07-02,Confirmed,21947,9,845,37,479,478,4,73,...,116,350,12,4343,1213,39,769,37,649,-83
15,2020-07-03,Confirmed,22718,7,837,20,365,426,4,52,...,153,390,1,4329,1892,93,972,64,669,-801
16,2020-07-04,Confirmed,24018,3,765,7,1202,349,5,96,...,172,480,1,4280,1850,25,757,45,743,-1032
17,2020-07-05,Confirmed,23942,6,998,10,735,403,7,46,...,174,632,22,4150,1590,23,1153,31,895,-370
18,2020-07-06,Confirmed,22500,16,1322,1,786,280,21,98,...,208,524,0,3827,1831,111,929,37,861,284
19,2020-07-07,Confirmed,23147,6,1178,6,814,385,5,110,...,258,716,2,3616,1879,24,1332,69,850,121
20,2020-07-08,Confirmed,25561,2,1062,11,696,749,15,111,...,158,659,6,3756,1924,57,1188,28,986,-16
21,2020-07-09,Confirmed,25790,7,1555,15,568,704,16,140,...,233,500,1,4231,1410,16,1206,47,1088,-633
22,2020-07-10,Confirmed,27762,0,1608,33,936,352,13,166,...,217,611,0,3680,1278,142,1338,68,1198,-224
23,2020-07-11,Confirmed,27757,0,1813,6,535,709,13,65,...,230,574,26,3965,1178,31,1392,44,1344,-745
24,2020-07-12,Confirmed,29106,7,1933,19,735,1266,10,184,...,234,644,4,4244,1269,105,1384,120,1560,-392
25,2020-07-13,Confirmed,28178,3,1935,27,1001,1116,29,184,...,357,544,2,4328,1550,26,1654,71,1435,-666
26,2020-07-14,Confirmed,29917,5,1916,75,859,1432,12,114,...,333,635,45,4526,1524,90,1594,78,1390,-179
27,2020-07-15,Confirmed,32607,5,2432,29,1088,1320,19,177,...,288,866,11,4496,1597,98,1659,99,1589,-655
28,2020-07-16,Confirmed,35468,4,2593,52,892,1385,16,198,...,295,737,13,4549,1676,98,2058,197,1690,-239
29,2020-07-17,Confirmed,34820,0,2602,66,1218,1742,25,249,...,348,615,32,4538,1478,118,1722,120,1894,-754
30,2020-07-18,Confirmed,37407,0,3963,41,1117,1667,31,243,...,350,711,19,4807,1284,171,1873,174,2198,-368